@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');



.page-404 div {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: radial-gradient(circle, #240015 0%, #12000b 100%);
  overflow: hidden;
}

.page-404 .wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page-404 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  font-size: 32px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
}

.page-404 #svgWrap_1,
.page-404 #svgWrap_2 {
  position: absolute;
  height: auto;
  width: 600px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-404 #svgWrap_1,
.page-404 #svgWrap_2,
.page-404 div {
  animation: hueRotate 6s ease-in-out 3s infinite;
}

.page-404 #id1_1,
.page-404 #id2_1,
.page-404 #id3_1 {
  stroke: #ff005d;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

.page-404 #id1_2,
.page-404 #id2_2,
.page-404 #id3_2 {
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

.page-404 #id3_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
}

.page-404 #id2_1 {
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
}

.page-404 #id1_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
}

/* Les animations et autres styles restent inchangés avec la classe .page-404 */
